@import url(../css/normalize.css);
@import url(../css/styles.css);



form {
  position: relative;
  top: 3em;
  background-color: var(--light);
  margin: 0 auto;
  width: 50vw;
  padding: 2em;
  margin-top: 1.2em;
  border-radius: 7px;
  margin-bottom: 5em;
}

a {
  color: var(--darkest);
}

label {
  font-size: 1.5em;
  vertical-align: super;
}

textarea {
  width: 100%;
  margin-top: 20px;
  border: 1px solid  var(--dark);
  border-radius: 5px;
}



input {
  margin: 1em;
  border-radius: 25px;
  height: 2em;
  width: 50%;
  border: 2px solid var(--accent);
}

[type="checkbox"], [type="radio"] {
    width: 1.5em;
    box-sizing: border-box;
    padding: 0;
    
}
