@import url(forms.css);



h1 {
  color: var(--accent);
  font-size: 3em;
  margin-bottom: -10px;
}
h3 {
  font-weight: 400;
  margin-right: auto;
}

p {
  font-family: inherit;
  color: var(--light);
}

input {
  width: 12em;
  border: 1px solid transparent;
}


a .secondary-options{
  text-decoration: none;
  font-weight: 600;
  font-family: var(--second-font);
  color: var(--light-dark);
  margin-bottom: 5px;
  padding-bottom: 1em;
  transition: font-size 0.1s;
}

a .secondary-options:hover{
  font-size: 17px;
}


.log-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3.5em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  background: var(--light);
  background-color: rgba(245, 243, 243, 0.898);
  border: solid 2px var(--accent);
  height: 300px;
  width: min-content;
  padding: 7em;
  border-radius: 20px;
}

button {
  padding: 0.6em 3em;
  margin: 1.5em 1em;
  border: 3px solid var(--accent);
  text-transform: uppercase;
  background-color: var(--light);
  border-radius: 15px;
  font-weight: 700;
}

button:hover{
  background-color: var(--second-accent);
  color: var(--light);
  transition: ease-in 0.7s;
}

#volver{
  padding-bottom: 0;
  text-align: center;
  background-color: transparent;
  margin: 0 auto;
  font-size: 1.5em;
  border-radius: 25px;
  border: 3px solid var(--second-accent);
}

