@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
/*style inicialmente con flex - se modifico a grid por simplificacion en posicionamiento - propiedades
de flex fueron comentadas - Dario 4/13/24*/

* {
  font-family: "Titillium Web", sans-serif;
}

:root {
  --darkest: #222831;
  --dark: #31363f;
  --light-dark: #404651;
  --light: #ffffffe3;
  --accent: #76abae;
  --second-accent: #00a991;
  --second-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background-size: cover;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: repeating-linear-gradient(
      315deg,
      #00ffff2e 92%,
      #073aff00 100%
    ),
    repeating-radial-gradient(
      75% 75% at 238% 218%,
      #00ffff2e 30%,
      #073aff14 39%
    ),
    radial-gradient(99% 99% at 109% 2%, #023730ff 0%, #073aff00 100%),
    radial-gradient(99% 99% at 21% 78%, #00a991 0%, #073aff00 100%),
    radial-gradient(160% 154% at 711px -303px, #0b0808ff 82%, #0b0a0aff 98%);
}
/*-----------------------------------------------------------------------------------------------*/

body {
  background-size: cover;
  display: grid;
  grid-template-areas:
    "nav"
    "hero"
    "main"
    "footer";
}
.nav-container {
  /* display: flex; */
  grid-area: nav;
  background-color: transparent;
  align-items: center;
  position: absolute;
}

.nav-container li {
  list-style-type: none;
  display: inline;
}

ul li {
  color: var(--light);
  text-shadow: 0px 0px 1px var(--light);
}
li.nav-btn a {
  color: var(--light);
  text-decoration: none;
  cursor: pointer;
}
ul .nav-btn {
  font-variant: small-caps;
  font-size: 2em;
  border-radius: 3px;
  margin-right: 1em;
  text-shadow: 1px 5px 4px black;
  text-transform: lowercase;
}

li.nav-btn a {
  border: none;
  cursor: pointer;
}

.nav-container .nav-btn a {
  position: relative;
  z-index: 2;
}

.nav-container .nav-btn a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.658);
  transition: width 0.5s ease;
  border-radius: 3px;
}

.nav-container .nav-btn a:hover::after {
  width: calc(100% + 5px);
}

h1 {
  color: var(--light);
  text-shadow: 1px 1px var(--dark);
}

section.info-container article h3 {
  font-weight: 400;
  font-style: italic;
  color: var(--light);
  text-shadow: 0 0 5px black;
  font-size: 2.7em;
  text-align: center;
  text-emphasis:var(--second-font);
}

header {
  /* display: flex; */
  background-image: url("../img/employee-retention-1110x550.png");
  background-repeat: no-repeat;
  background-color: var(--dark);
  background-size: 100%;

  position: relative;
  z-index: 1;
  box-shadow: 1px -3px 20px var(--accent);
}

.hero-container {
  grid-area: hero;
}

.hero-text {
  text-align: center;
  color: var(--light);
  text-shadow: 0 0 5px black;
  font-size: 1.7em;
  padding: 1em;
  margin-top: 5.7em;
  background-color: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(3px);
  border-radius: 20px;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.hero-text h1 {
  font-size: 5em;
  margin: -50px;
  color: var(--accent);
}

.info-container {
  display: flex;
  grid-area: main;
  background-color: rgba(255, 255, 255, 0.01);
  border-radius: 25px;
  margin: 2em;
}

/* .info-container img {
  grid-column-start: 1;
  border-radius: 25px;
  width: 35%;
} */

.main-text {
  max-width: 70%;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: var(--darkest);
  color: var(--light);
  text-shadow: 0 0 5px black;
  font-size: 2.5em;
  margin: 1em auto;
}

#clock,
#farrow {
  padding-top: 1em;
  display: flex;
  margin: 0 auto;
}

.info-container img {
  width: 400px;
  margin: 3em;
  background-color: rgba(57, 207, 241, 0.547);
  border-radius: 30px;
  border: solid 5px var(--darkest);
}

.info-container p {
  text-align: justify;
  margin-top: 2em;
  background-color: rgba(255, 255, 255, 0.01);
}
